html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#react-entry-point,
#react-entry-point > div {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
